body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #08746c 0%, #72c153 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
}
