html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
}

#modal,
#routeOptionsModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#contextMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#contextMenu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

#contextMenu button:hover {
  background-color: #f0f0f0;
}

#calculateRouteButton {
  position: absolute;
  bottom: 10px;
  left: 200px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#deleteModeButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#confirmDeleteButton {
  position: absolute;
  bottom: 60px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#deleteRouteButton {
  position: absolute;
  bottom: 10px;
  left: 1160px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#timelinePanel {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ccc;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#timeline {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
}

#timeline div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

#toggleTimelineButton {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
}

#routePanel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Estilo para a barra de pesquisa */
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

/* Estilo para a barra de pesquisa quando em foco */
.controls:focus {
  border-color: #4d90fe;
}

/* Estilo para a sugestão de endereço */
.pac-container {
  font-family: Roboto;
}

/* Estilo para a lista de sugestões de endereço */
.pac-item {
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background-color 0.1s ease;
}

/* Estilo para a lista de sugestões de endereço quando em hover */
.pac-item:hover {
  background-color: #f5f5f5;
}

#deleteRouteModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#deleteRouteModal ul {
  list-style: none;
  padding: 0;
}

#deleteRouteModal li {
  cursor: pointer;
  padding: 5px;
}

#deleteRouteModal button {
  margin-top: 10px;
}

